.demo-table {
    width: 100%;
  }
  
  .demo-button-container {
    padding-bottom: 16px;
  }
  
  .demo-button + .demo-button {
    margin-left: 8px;
  }

  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  th.mat-sort-header-sorted {
    color: black;
  }

  mat-checkbox {
    margin: 1rem;
  }
  
  mat-table { 
    margin-top: 1rem; 
  }

  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .table-container {
    overflow-x: auto;
  }
  
  @media screen and (max-width: 600px) {
    .mat-checkbox {
      display: block;
    }
  
    .mat-form-field {
      width: 100%;
    }
  
    .mat-table {
      overflow-x: auto;
      display: block;
      width: 100%;
    }
  
    .mat-header-row,
    .mat-row {
      display: flex;
      flex-wrap: wrap;
      min-width: 100%;
    }
  
    .mat-header-cell,
    .mat-cell {
      flex: 1 0 100%;
    }
  }