.demo-table {
    width: 100%;
  }
  
  .demo-button-container {
    padding-bottom: 16px;
  }
  
  .demo-button + .demo-button {
    margin-left: 8px;
  }

  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  th.mat-sort-header-sorted {
    color: black;
  }

  mat-checkbox {
    margin: 1rem;
  }
  
  mat-table { 
    margin-top: 1rem; 
  }

  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Чтобы затемнить фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Выше, чем z-index вашей таблицы */
  }